{% load static %} 
<!doctype html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" /> 
  <title>{% block title %}'WeEvent'{% endblock %}</title> 
</head> 
<body> 
  <!-- header --> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">We Event </a>
      <img src="https://cdn.discordapp.com/attachments/1073616258223833089/1153840624806674443/image.png" alt="imagenNavbar"  width="30" height="24" class="rounded-circle">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'events_index' %}">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Comunidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'create_event' %}">Crear Eventos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <header class="masthead bg-primary text-white text-center py-4"> 
    <div class="container d-flex align-items-center flex-column"> 
      <h2>{% block header_title %}'Eventos que te pueden gustar'{% endblock %}</h2> 
    </div> 
  </header> 
  <!-- header --> 
 
  <div class="container my-4"> 
    {% block content %} 
    {% endblock %} 
  </div> 
 
<!-- footer --> 
  {% block footer %} 
  <div class="copyright py-4 text-center text-white"> 
    <div class="container"> 
    </div> 
  </div> 
  <!-- footer --> 
  {% endblock %} 
  </script> 
</body> 
</html> 