{% load static %} 
<!doctype html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
   
  <title>{% block title %}'WeEvent'{% endblock %}</title>
</head> 
<body style="background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-degradado_23-2149009182.jpg?w=1380&t=st=1700584631~exp=1700585231~hmac=fbd06db41e31fec173980b037a6279452995956a9541f66150cde1df962a7567); background-size: cover; "> 
  <!-- header --> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">We Event </a>
      <img src="https://cdn.discordapp.com/attachments/1073616258223833089/1153840624806674443/image.png" alt="imagenNavbar"  width="30" height="24" class="rounded-circle">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'events_index' %}">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'comunidad' %}">Comunidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'create_event' %}">Crear Eventos</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_events' %}">Mis Eventos</a>
            </li>
        {% endif %}
          {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_signup' %}">Registrarse</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
 
  <header class="masthead bg-primary text-white text-center py-4"> 
    <div class="container d-flex align-items-center flex-column"> 
      <h2>{% block header_title %}'Eventos que te pueden gustar'{% endblock %}</h2> 
    </div> 
  </header> 
  <!-- header --> 
 
  <div class="container my-4"> 
    {% block content %} 
    {% endblock %} 
  </div> 
 
<!-- footer --> 
  {% block footer %} 
  <div class="copyright py-4 text-center text-white"> 
    <div class="container"> 
    </div> 
  </div> 
  <!-- footer --> 
  {% endblock %} 
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/solid.js" integrity="sha384-/BxOvRagtVDn9dJ+JGCtcofNXgQO/CCCVKdMfL115s3gOgQxWaX/tSq5V8dRgsbc" crossorigin="anonymous"></script>  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js" integrity="sha384-dPBGbj4Uoy1OOpM4+aRGfAOc0W37JkROT+3uynUgTHZCHZNMHfGXsmmvYTffZjYO" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script> 
</body> 
</html> 