{% extends 'base.html' %}
{% load static %}
{% block title %} Events {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<head>
    <style>
        .card-body {
            text-align: center; /* Centra el contenido dentro de la tarjeta */
        }

        .card-buttons {
            margin-top: 10px; /* Añade espacio entre el título y los botones */
        }

        .card-title {
            margin-bottom: 0.5rem; /* Ajusta el espacio entre el título y los botones */
        }

    </style>


</head>

<body>

    <div class="row">
        {% for event in events %}
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <a href="{% url 'show_event' id=event.id %}">
                        <img src="{{ event.image_url }}" class="card-img-top" style="height: 200px; width: 100%; object-fit: cover;" alt="Event Image">
                    </a>
                    <div class="card-body">
                        <strong class="card-title" style=" font-style: italic;  font-family: 'Times New Roman', Times, serif; font-size: 30px; ">{{ event.nombre }}</strong>
                        <div class="card-buttons">
                            {% if user.is_authenticated and user == event.organizador %}
                                <a class="btn btn-primary text-white" href="{% url 'edit_event' id=event.id %}">Edit Event</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
    
</body>

{% endblock %}