{% extends 'base.html' %}
{% block title %}
    WeEvent
{% endblock %}
{% block content %}
    <style>
        .container {
            display: flex;
            

            align-items: center;
            justify-content: space-between;
        }

        .large-image {
            flex: 1;
            max-width: 50%;
            height: auto;
        }

        .event-container {
            flex: 1;
            padding: 20px;
        }

        .event-box {
            display: flex;
            flex-wrap: wrap;
        }

        .event-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
        }

        .event {
            width: 48%;
            text-align: center;
            border: 2px solid #0f0f0f;
            border-radius: 10px;
            padding: 10px;
        }

        .event img {
            max-width: 90%;
            border-radius: 50%;
        }
    </style>
</head>
<body>
        <div class="container">
            
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Mapa</button>
                    <button type="button" class="btn btn-primary">Calendario</button>
                </div>
                <img class="rounded img-thumbnail blurable-image border-black" width="340" height="280"  alt="imagen1" src="https://cdn.discordapp.com/attachments/1073616258223833089/1153852161118187643/image.png" alt="Imagen Grande" > 
                <div class="event-container">
                    <h2>Próximos Eventos</h2>
                    {% for event in events %}
                    <div class="event-box">
                        
                        <div class="event-row">
                            
                            <div class="event">
                                <h3>{{ event.nombre }}</h3>
                                <img src="{{ event.image_url }}" alt="Evento 1" class="img-fluid" >
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                       

                </div>
            
        </div>
          
</body>
{% endblock %}