{% extends 'base.html' %}
{% block title %}
    WeEvent
{% endblock %}
{% block content %}
<style>
    .container {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

    .column {
      flex: 1;
      padding: 10px;
      margin: 5px;
    }

    .image-column1 {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-column1 img {
      width: 100%;
      height: auto;
    }

    .text-column {
      width: 60%;
    }

    .info-section {
      margin-bottom: 20px;
    }

    .description-section {
      margin-bottom: 20px;
    }

    .number-section {
      text-align: center;
    }

    .text-center1 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-size: 24px; /* Tamaño más grande del título */
      margin-top: 40px;
    }

    .event-section {
      margin-bottom: 20px;
    }

    .event-section h2 {
      font-size: 28px; /* Tamaño más grande del título de sección */
      text-align: center;
      margin-bottom: 10px;
    }

    .event-card {
      max-width: 100%; /* Hace que los eventos ocupen el ancho completo de su contenedor */
      max-height: 100%;
      margin-bottom: 20px; /* Espaciado entre eventos */
      position: relative;
      margin-top: 50px;
    }

    .event-card img {
      width: 100%;
      height: 200px; /* Altura fija de la imagen del evento */
      object-fit: cover; /* Ajusta la imagen para cubrir completamente la caja */
    }

    .event-card .card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 18px; /* Tamaño del nombre del evento */
      background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejorar la legibilidad del texto */
      padding: 8px; /* Espaciado interno del nombre del evento */
    }
</style>
</head>
<body>
    <div class="container">
        <div class="column image-column1">
            <!-- Contenido de la columna izquierda -->
            <img style="height: 740px; width: 1000px; margin-right: 200px;" src="https://cdn.discordapp.com/attachments/735028650524540938/1176373330182426624/Conectando_Vibras_en_Medellin.png?ex=656ea209&is=655c2d09&hm=d13060ab77b41be0289f80e5e8447b288902a14b5d154dd5c65237c850bf907e&" alt="Imagen centrada">
        </div>
        <div class="column text-column">
            <div class="event-section">
                <h2 class="text-center1">Recomendados</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for event in events|slice:":3" %}
                        <div class="col">
                            <div class="card text-center event-card">
                                <a href="{% url 'show_event' id=event.id %}">
                                    <img class="card-img-bottom" type="button" src="{{ event.image_url }}" alt="Event Image">
                                </a>
                                <h4 class="card-title">{{ event.nombre }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="event-section">
                <h2 class="text-center1">Últimos Añadidos</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for event in events|slice:"4:" %}
                        <div class="col">
                            <div class="card text-center event-card">
                                <a href="{% url 'show_event' id=event.id %}">
                                    <img class="card-img-bottom" type="button" src="{{ event.image_url }}" alt="Event Image">
                                </a>
                                <h4 class="card-title">{{ event.nombre }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
