{% extends 'base.html' %}
{% block title %}{{ event.name }} info{% endblock %}
{% block header_title %}{{ subtitle }}{% endblock %}
{% block content %}
  <style>
    .container1 {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border: 2px solid #ccc;
      box-shadow: 25px 15px #0833a2;
      background-color: whitesmoke;
    }

    .column {
      flex: 1;
      padding: 10px;
      margin: 5px;
      display: flex;
      flex-direction: column;
    }

    .text-section {
      border: 1px solid #ccc;
      padding-left: 5px;
    }

    .image-column {
      width: 20%;
    }

    .image-column img {
      width: 100%;
      height: auto;
    }

    .text-column {
      width: 60%;
      display: flex;
      flex-direction: column;
    }

    .info-section {
      margin-top: 20px;
      text-align: center;
      
    }

    .description-section {
      margin-top: 45px;
      text-align: center;
    }

    .number-count-section {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .number-section,
    .count-section {
      text-align: center;
      width: 48%;
    }

    .attend-button {
      text-align: right; /* Cambiado a centrar */
      margin-top: 20px; /* Ajustado el margen */
      margin-right: 110px;
    }

    summary {
      font-size: x-large;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 200;
      text-decoration: underline;
    }

    .info-section .detalle {
      margin-top: 25px;
      font-family: Verdana, Geneva, serif, sans-serif;
      

    }

    .detalle {
      margin-top: 25px;
      font-family: Verdana, Geneva, serif, sans-serif;
    }

    .comentario {
      height: 65px;
      overflow-y:auto ; 
      font-family: monospace;
      
    }

    .heart-symbol {
      color: red;
      text-decoration: none;
    }
  </style>

  <title>Información del Evento</title>
</head>

<body>

  <div class="container1">
    <div class="column image-column">
      <!-- Contenido de la primera columna -->
      <img src="{{ event.imagen.url }}" class="img-thumbnail" alt="Event Image">
      <br>
      <br>
      <br>
      <div class="text-section">
        <h4 class="card-title" style="border: #ccc; font-family: 'Times New Roman', Times, serif; margin-top: 20px;">Comentarios</h4>
        <br>
        <div class="comentario">
          {% for comentario in comentarios %}
            <p>{{ comentario.usuario.username }}: {{ comentario.texto }}</p>
          {% endfor %}
        </div>

        <!-- Formulario para agregar comentarios -->
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'show_event' id=event.id %}">
            {% csrf_token %}
            {{ comentario_form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Enviar</button>
          </form>
        {% else %}
          <p>Inicia sesión para agregar un comentario.</p>
        {% endif %}
      </div>
    </div>
    <div class="column text-column">
      <!-- Contenido de la segunda columna -->
      <div class="info-section">
        <details open>
          <summary>Información del Evento</summary>
          <p class="detalle">
              <li>Nombre: {{ event.nombre }}</li>
              <li>Ubicación: {{ event.ubicacion }}</li>
              <li>Inicia: {{ event.fechaInicio }}</li>
              <li>Termina: {{ event.fechaFin }}</li>
          </p>
        </details>
      </div>
      <div class="description-section">
        <details open>
          <summary>Descripción</summary>
          <p class="detalle">{{ event.descripcion }}</p>
        </details>
      </div>
      <!-- Sección para el número y el conteo -->
      <div class="number-count-section">
        <div class="number-section">
          <p style="font-size: 35px;"> 
            <span> {{ event.like_set.count }}
              <a href= "{% url 'like_event' id=event.id %}" target="_blank" rel="noopener noreferrer">
                <span class="heart-symbol">&hearts;</span>
              </a>
            </span>
          </p>
        </div>
        <div class="count-section">
          <p style="font-size: 35px;">{{event.asistencia}}/{{event.capacidad}}</p>
        </div>
      </div>
      <!-- Botón para asistir (movido debajo del count-section) -->
      <div class="attend-button">
        <a href="{% url 'attend_event' id=event.id %}" class="btn btn-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
            <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          Asistir
        </a>
      </div>
      
    </div>
  </div>

</body>
{% endblock %}
